.about {
    height: 100vh;
    display: flex;
}

.inner {
    width: 100%;
    padding: 0 5vw;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub {
    height: 80vh;
    width: 40vw;

    border-radius: 30px;

    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.sub-title {
    text-align: center;
}

.icon {
    position: relative;
    font-size: 100px;
    cursor: pointer;
}

.lang-div {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.select-div {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.select-item {
    width: 100px;
    height: 100px;
    background-color: blue;
}