nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10;
    margin: 10;
    background-color: #261C2C;
    height: 7vh;
    transition: .3s ease-in;
}

.nav-left {
    margin-left: 90px;
    font-size: 28px;
}

.nav-right {
    margin-right: 90px;
    display: flex;
    
}

.nav-item {
    margin: 10px;
    border: transparent;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #5C527F;
    color: white;
    font-size: 16px;
}

.nav-item:active {
    transform: scale(0.9);
}